# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
apps/web/dist/
apps/api/dist/

# env
.env
.env.local
*.local

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/
